<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgHsRhg39hpS7wq6La6sDv6-rscbOwHDk</string>
	<key>GCM_SENDER_ID</key>
	<string>951107304160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collectorsSocialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>collector-s-emporium</string>
	<key>STORAGE_BUCKET</key>
	<string>collector-s-emporium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951107304160:ios:0d032ed6a2ce9e32322e85</string>
</dict>
</plist>